* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-family: 'Roboto', sans-serif;
background-color:#B5B5B5;
}

a {
    text-decoration: none;
}

:root {
    --naranja_1-: #FF7A1A;
    --morado: #9571F6;
    --naranja_2: #FF9156;
    --celeste_: #6168E6;
    --gris_oscuro:#292929;
    
}